<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Settings</h1>
    </ion-header-bar>
    <ion-content>
        <form novalidate name="form" ng-submit="saveSettings()">
            <div class="list">
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Document ID pattern</span>

                    <p>used to recognize ids in document fields</p>
                    <input type="text" name="documentIdPattern" regexp ng-model="settings.documentIdPattern">
                    <small class="assertive" ng-show="form.documentIdPattern.$invalid">
                        Please use a valid regex pattern
                    </small>
                </ion-item>
            </div>
            <div class="padding">
                <button ng-disabled="form.$invalid"
                        class="button button-block button-positive icon-left">
                    <i class="icon ion-checkmark-round"></i>
                    &nbsp;Save
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>