<ion-view title="Tasks">
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-icon-right"
                      ui-sref="app.tasks.backupDatabase"
                      ui-sref-active="active"
                      menu-close>Backup database
                <i class="icon ion-ios7-arrow-forward stable"></i>
            </ion-item>
            <ion-item class="item-icon-right"
                      ui-sref="app.tasks.toggleIndexing"
                      ui-sref-active="active"
                      menu-close>Toggle indexing
                <i class="icon ion-ios7-arrow-forward stable"></i>
            </ion-item>
            <ion-item class="item-icon-right"
                      ui-sref="app.tasks.createSampleData"
                      ui-sref-active="active"
                      menu-close>Create sample data
                <i class="icon ion-ios7-arrow-forward stable"></i>
            </ion-item>
            <ion-item class="item-icon-right"
                      ui-sref="app.tasks.csvImport"
                      ui-sref-active="active"
                      menu-close>CSV Import
                <i class="icon ion-ios7-arrow-forward stable"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>