<ion-view title="{{titlePrefix}} Connection">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="remove()">
            <i ng-show="!create" class="icon ion-trash-a"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form id="connectionForm" name="formHolder.form" class="css-form" ng-swipe-left="onLeftSwipe()"
              ng-swipe-right="onRightSwipe()">
            <ion-list>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" required unique-connection="originalName"
                           ng-model="connection.name">

                    <small class="assertive" ng-show="formHolder.form.name.$error.uniqueConnection">
                        A connection with the same name already exists
                    </small>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Url</span>
                    <input type="url" name="url" required ng-model="connection.url">

                    <small class="assertive" ng-show="formHolder.form.url.$error.url">
                        Wrong URI format
                    </small>
                </ion-item>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Database</span>
                    <input type="text" ng-model="connection.database"
                           placeholder="(leave empty to access all databases)">
                </ion-item>
                <ion-item class="item-divider">Authentication</ion-item>
                <ion-item class="item item-input item-select">
                    <div class="input-label">Type</div>
                    <select ng-model="connection.authenticationType">
                        <option value="">Anonymous</option>
                        <option value="apiKey">Api Key</option>
                    </select>
                </ion-item>
                <ion-item class="item-input item-stacked-label"
                          ng-if="connection.authenticationType === 'apiKey'">
                    <span class="input-label">Api Key</span>
                    <input type="text" required ng-model="connection.apiKey">
                </ion-item>
            </ion-list>
        </form>
        <div class="padding">
            <button class="button button-stable button-block"
               ng-disabled="formHolder.form.url.$invalid"
               ng-click="test()">
                Test Connection
            </button>
            <button class="button button-positive button-block icon-left"
               ng-disabled="formHolder.form.$invalid" ng-click="save()">
                <i class="icon ion-checkmark-round"></i>
                &nbsp;{{buttonPrefix}} Connection
            </button>
        </div>
    </ion-content>
</ion-view>
