<ion-item class="item-icon-right"
          ui-sref="app.documents.user"
          ui-sref-active="active"
          menu-close>
    Documents
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.statuses"
          ui-sref-active="active"
          menu-close>
    Status
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-divider energized-border positive">Indexing</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.indexes.list"
          ui-sref-active="active"
          menu-close>
    Indexes
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.indexes.transformers"
          ui-sref-active="active"
          menu-close>
    Transformers
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.indexes.stats"
          ui-sref-active="active"
          menu-close>
    Stats
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>