<ion-item class="item-icon-right"
          ui-sref="app.indexes.list"
          ui-sref-active="active"
          menu-close>
    Indexing
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-divider energized-border positive">{{name}}</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.index.definition"
          ui-sref-active="active"
          menu-close>
    Definition
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.index.fields"
          ui-sref-active="active"
          menu-close>
    Terms
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.index.query"
          ui-sref-active="active"
          menu-close>
    Query
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>