<ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="showPopover($event)">
            <i class="icon ion-more"></i>
        </button>
    </ion-nav-buttons>
</ion-nav-buttons>
<ion-view title="{{name}}">
    <ion-content>
        <div class="list">
            <div class="item item-divider">Query</div>
            <div class="item item-input">
                <textarea rows="4" ng-model="$parent.query" placeholder="write your query here"></textarea>
            </div>
            <div class="item item-input item-select">
                <span class="input-label">Default operator</span>
                <select ng-model="$parent.operator" ng-options="operator for operator in operators">
                </select>
            </div>
            <div class="item item-input item-select">
                <span class="input-label">Transformer</span>
                <select ng-model="$parent.transformer"
                        ng-options="transformer.name for transformer in transformers track by transformer.name">
                    <option value="">No transformer</option>
                </select>
            </div>
            <ion-item class="item-divider item-icon-right">
                Sort By
                <i class="icon ion-plus-round" ng-click="addSort()"></i>
            </ion-item>
            <ion-item class="item-button-right" ng-repeat="sort in sorts" ng-click="editSort($index)">
                {{sort.field}}, {{sort.order.name}}
                <button class="button button-icon" ng-click="removeSort($index, $event)">
                    <i class="icon ion-minus-round assertive"></i>
                </button>
            </ion-item>
            <ion-item ng-show="!sorts.length"
                      style="text-align: center; font-style: italic"
                      ng-click="addSort()">
                <small>No sorting, tap <strong>here</strong> to add a sort clause</small>
            </ion-item>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="runQuery()">
                <i class="icon ion-play"></i>
                &nbsp;Run query
            </button>
        </div>
    </ion-content>
</ion-view>