<ion-item class="item-icon-right"
          ui-sref="app.indexes.list"
          ui-sref-active="active"
          menu-close>
    Indexes
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.status"
          ui-sref-active="active"
          menu-close>
    Status
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-divider">
    Documents
</ion-item>
<ion-item class="item-icon-right"
          ui-sref-active="active"
          ui-sref="app.documents.user({ tag: '' })" menu-close>
    All
    <span ng-show="totalDocuments">({{totalDocuments}})</span>
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref-active="active"
          ui-sref="app.documents.system"
          menu-close>
    &nbsp;System documents
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ng-repeat="entity in entities"
          ui-sref-active="active"
          ui-sref="app.documents.user({ tag: '{{entity.name}}' })"
          menu-close>
    &nbsp;{{entity.name }}
    <span ng-show="entity.totalResults">({{entity.totalResults}})</span>
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>