<ion-item class="item-icon-right"
          ui-sref="app.documents.user"
          ui-sref-active="active positive"
          menu-close>
    <b>Documents</b>
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.indexes.list"
          ui-sref-active="active positive"
          menu-close>
    <b>Indexing</b>
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.tasks.list"
          ui-sref-active="active positive"
          menu-close>
    <b>Tasks</b>
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.status.list"
          ui-sref-active="active positive"
          menu-close>
    <b>Status</b>
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>