<ion-item class="item-icon-right"
          ui-sref="app.documents.user"
          ui-sref-active="active"
          menu-close>
    Documents
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-divider">Indexes</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.indexes.list"
          ui-sref-active="active"
          menu-close>
    Indexes
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.indexes.merge"
          ui-sref-active="active"
          menu-close>
    Merge Suggestions
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>