<ion-item class="item-icon-right"
          ui-sref="app.status.stats"
          ui-sref-active="active"
          menu-close>Stats
  <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<!--
<ion-item>Index Stats <span class="item-note">coming soon</span></ion-item>
<ion-item>Metrics <span class="item-note">coming soon</span></ion-item>
<ion-item>Logs <span class="item-note">coming soon</span></ion-item>
<ion-item>Running Tasks <span class="item-note">coming soon</span></ion-item>
<ion-item>Alerts <span class="item-note">coming soon</span></ion-item>
<ion-item>Index Errors <span class="item-note">coming soon</span></ion-item>
<ion-item>Replication Stats <span class="item-note">coming soon</span></ion-item>
-->
<ion-item class="item-icon-right"
          ui-sref="app.status.userInfo"
          ui-sref-active="active"
          menu-close>User Info
  <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<!--
<ion-item>Debug <span class="item-note">coming soon</span></ion-item>
-->
