<ion-item class="item-icon-right"
          ui-sref="app.documents.user"
          ui-sref-active="active"
          menu-close>
    Documents
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-icon-right"
          ui-sref="app.indexes.list"
          ui-sref-active="active"
          menu-close>
    Indexing
    <i class="icon ion-ios7-arrow-forward stable"></i>
</ion-item>
<ion-item class="item-divider energized-border positive">
    Status
</ion-item>
<div ng-include="'templates/app/statusesItems.html'"></div>